Exercise problems:

read the data from given url to DataFrame as sales_data https://raw.githubusercontent.com/svkarthik86/Assignment/main/Sales_Data/Sales_January_2019.csv

Q1.Rename The column name with valid format: oldname:Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address newname:Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address

Q2.insert new column as order_price compute order_price =Price_Each*Quantity_Ordered

Q3.Delete the column Purchase_Address

Q4.insert new row data as at last 100001,OnePhone,1,600, 01/22/19 21:25,600

Q5.Gruopby Product and apply the aggregate function min,max,mean on order_price

read the data from given url to DataFrame as sales_data https://raw.githubusercontent.com/svkarthik86/Assignment/main/Sales_Data/Sales_January_2019.csv

read the data from given url to DataFrame as sales_data https://raw.githubusercontent.com/svkarthik86/Assignment/main/Sales_Data/Sales_January_2019.csv

In [1]:
import pandas as pd
import numpy as np
url='https://raw.githubusercontent.com/svkarthik86/Assignment/main/Sales_Data/Sales_January_2019.csv'
data=pd.read_csv(url)
data

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

Q1.Rename The column name with valid format: oldname:Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address newname:Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address

In [2]:
data.columns=['Order_ID','Product','Quantity_Ordered','Price_Each','Order_Date','Purchase_Address']
data

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

In [4]:
data.info

<bound method DataFrame.info of      Order_ID                   Product Quantity_Ordered Price_Each  \
0      141234                    iPhone                1        700
1      141235  Lightning Charging Cable                1      14.95
2      141236          Wired Headphones                2      11.99
3      141237          27in FHD Monitor                1     149.99
4      141238          Wired Headphones                1      11.99
...       ...                       ...              ...        ...
9718   150497              20in Monitor                1     109.99
9719   150498          27in FHD Monitor                1     149.99
9720   150499           ThinkPad Laptop                1     999.99
9721   150500    AAA Batteries (4-pack)                2       2.99
9722   150501              Google Phone                1        600

          Order_Date                       Purchase_Address
0     01/22/19 21:25        944 Walnut St, Boston, MA 02215
1     01/28/19 14:15       185 Maple St, Portland, OR 97035
2     01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3     01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4     01/25/19 11:59          387 10th St, Austin, TX 73301
...              ...                                    ...
9718  01/26/19 19:09            95 8th St, Dallas, TX 75001
9719  01/10/19 22:58    403 7th St, San Francisco, CA 94016
9720  01/21/19 14:31        214 Main St, Portland, OR 97035
9721  01/15/19 14:21      810 2nd St, Los Angeles, CA 90001
9722  01/13/19 16:43         428 Cedar St, Boston, MA 02215

[9723 rows x 6 columns]>

In [9]:
data.isna().sum()

Order_ID            26
Product             26
Quantity_Ordered    26
Price_Each          26
Order_Date          26
Purchase_Address    26
dtype: int64

In [12]:
data.dropna(inplace=True)
data.isna().sum()

Order_ID            0
Product             0
Quantity_Ordered    0
Price_Each          0
Order_Date          0
Purchase_Address    0
dtype: int64

In [13]:
data[data.duplicated()]

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
875,142071,AA Batteries (4-pack),1,3.84,01/17/19 23:02,"131 2nd St, Boston, MA 02215"
1102,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1194,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1897,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2463,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3115,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3247,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3612,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
3623,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
4126,145143,Lightning Charging Cable,1,14.95,01/06/19 03:01,"182 Jefferson St, San Francisco, CA 94016"
4901,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5593,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
5811,146765,Google Phone,1,600,01/21/19 11:23,"918 Highland St, New York City, NY 10001"
6506,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
6807,147707,Wired Headphones,1,11.99,01/04/19 16:50,"883 4th St, Dallas, TX 75001"
7544,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
7674,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8134,148984,USB-C Charging Cable,1,11.95,01/08/19 17:36,"562 14th St, Boston, MA 02215"
8271,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8309,149149,Lightning Charging Cable,1,14.95,01/12/19 12:30,"180 1st St, Boston, MA 02215"
8470,149308,Apple Airpods Headphones,1,150,01/02/19 23:07,"351 Madison St, New York City, NY 10001"
8690,149515,USB-C Charging Cable,1,11.95,01/14/19 21:19,"913 10th St, Los Angeles, CA 90001"
8923,149738,USB-C Charging Cable,1,11.95,01/11/19 11:22,"612 West St, New York City, NY 10001"
9311,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
9427,150216,Wired Headphones,1,11.99,01/21/19 09:20,"691 Pine St, San Francisco, CA 94016"

In [15]:
data=data[~(data['Price_Each']=='Price Each')]
data

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

Q2.insert new column as order_price compute order_price =Price_Each*Quantity_Ordered

In [16]:
data['order_price']=data['Price_Each'].astype(float)*data['Quantity_Ordered'].astype(float)
data

c:\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,order_price
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215",700.00
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035",14.95
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016",23.98
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001",149.99
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301",11.99
...,...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001",109.99
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016",149.99
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035",999.99
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001",5.98
9722,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215",600.00

Q3.Delete the column Purchase_Address

In [17]:
del data['Purchase_Address']
data

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,order_price
0,141234,iPhone,1,700,01/22/19 21:25,700.00
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,14.95
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,23.98
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,149.99
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,11.99
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,109.99
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,149.99
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,999.99
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,5.98
9722,150501,Google Phone,1,600,01/13/19 16:43,600.00

Q4.insert new row data as at last 100001,OnePhone,1,600, 01/22/19 21:25,600

In [18]:
data.columns

Index(['Order_ID', 'Product', 'Quantity_Ordered', 'Price_Each', 'Order_Date',
       'order_price'],
      dtype='object')

In [ ]:
data.append({'Order_ID':100001, 'Product':'OnePhone','Quantity_Ordered':1,'Price_Each':600,'Order_Date':'01/22/19 21:25','order_price':600},ignore_index=Tru

Q5.Groupby Product and apply the aggregate function min,max,mean on order_price

In [21]:
data.groupby('Product').agg({'order_price':[np.min, np.mean, np.max]})

                           order_price
                                  amin         mean     amax
Product
20in Monitor                    109.99   111.022770   219.98
27in 4K Gaming Monitor          389.99   389.990000   389.99
27in FHD Monitor                149.99   150.348828   299.98
34in Ultrawide Monitor          379.99   381.204026   759.98
AA Batteries (4-pack)             3.84     5.266603    19.20
AAA Batteries (4-pack)            2.99     4.410388    20.93
Apple Airpods Headphones        150.00   150.927070   300.00
Bose SoundSport Headphones       99.99   100.447271   199.98
Flatscreen TV                   300.00   300.000000   300.00
Google Phone                    600.00   601.892744  1200.00
LG Dryer                        600.00   600.000000   600.00
LG Washing Machine              600.00   600.000000   600.00
Lightning Charging Cable         14.95    16.111845    44.85
Macbook Pro Laptop             1700.00  1700.000000  1700.00
ThinkPad Laptop                 999.99  1004.619583  1999.98
USB-C Charging Cable             11.95    13.103160    47.80
Vareebadd Phone                 400.00   403.225806   800.00
Wired Headphones                 11.99    12.896706    35.97
iPhone                          700.00   700.000000   700.00